// margin-top: calc(-1 * var(--nav-height));
.experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  .classify {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background-color: rgba($color: white, $alpha: 0.3);
    padding: 0 1rem;
    .classify__name {
      position: relative;
      text-align: center;
      font-family: var(--font-sans-serif);
      font-size: 1.25rem;
      // background-color: #2089a5;
      padding: 0.25rem 2rem;
      display: inline-block;
      width: auto;
      align-self: center;
      // border-radius: 0.5rem 0 0.5rem 0;
      // border: 2px dashed var(--color-primary);
      // border: 2px dashed #b980ae;
      color: transparent;
      user-select: none;
      cursor: pointer;
      &::after {
        color: white;
        position: absolute;
        content: attr(data-name);
        right: 0.5rem;
        bottom: 0.5rem;
        width: 100%;
        height: 100%;
        border: 2px solid #b980ae;
        background-color: #b980ae;
        transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.12);
      }
      &::before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #b980ae;
      }
      &:hover {
        &::after {
          right: 0;
          bottom: 0;
        }
      }
    }
    &::before {
      position: absolute;
      content: '';
      // right: -.5rem;
      // bottom: -.5rem;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #b980ae;
    }
  }
  .classify__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .classify__list-item {
    position: relative;
    width: 20rem;
    margin: 1rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.12);
    cursor: pointer;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    //   width: 2rem;
    //   height: 2rem;

    // }
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    .item__name {
      font-family: var(--font-monospace);
      font-size: 1.4rem;
      font-weight: normal;
      color: #b980ae;
    }
    .item__type {
      $size: 3;
      position: absolute;
      right: 0;
      bottom: 0;
      width: $size + rem;
      height: $size + rem;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 #{$size + rem} #{$size + rem};
        border-color: transparent transparent #b980ae transparent;
      }

      &::after {
        content: '';
        position: absolute;
        $wh: math.sqrt($size * $size * 2);
        right: math.div($wh, -2) + rem;
        bottom: math.div($wh, -2) + rem;
        width: $wh + rem;
        height: $wh + rem;
        transform: rotate(45deg);
        // border-color: transparent transparent #B980AE transparent;
        box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.12);
      }
      i {
        color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.6rem;
        vertical-align: top;
        display: flex;
        align-items: flex-start;
      }
    }
    .item__cover-wrapper {
      display: flex;
      height: 12rem;
      padding: 0.5rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item__info {
      padding: 0.5rem;
      &:hover .item__info-detail {
        transform: translateY(0);
      }
    }
    .item__info-detail {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(102%);
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: white;
      padding: 1rem;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

@include screen-mobile {
  .experience {
    flex-direction: column;
    margin: 1rem;
    .classify__list {
      flex-direction: column;
    }
    .classify__list-item {
      flex: 1;
      width: 100%;
      margin: 1rem 0;
      .item__cover-wrapper {
        height: 16rem;
      }
    }
  }
}
