.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .title {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    line-height: 2.4rem;
  }
  .subtitle {
    // font-family: 'Microsoft YaHei';
    font-weight: lighter;
  }
  nav.nav {
    margin-bottom: 10rem;
    .nav-menu {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      i {
        font-size: 1.5rem;
      }
      li {
        position: relative;
        &::after {
          position: absolute;
          content: '';
          right: 0.5rem;
          bottom: 2px;
          width: 0;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.382);
          transition: 0.25s ease-out;
        }
        &.active,
        &:hover {
          &::before,
          &::after {
            width: calc(100% - 1rem);
            left: 0.5rem;
          }
        }
        /*
      &::before,
      &::after {
        position: absolute;
        content: '';
        right: .5rem;
        width: 0;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.382);
        transition: 0.25s ease-out;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &:hover {
        &::before,
        &::after {
          width: calc(100% - 1rem);
          left: .5rem;
        }
      }*/
      }
    }

    .nav-links {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: 1rem 0;
    }
    a {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      cursor: pointer;
      user-select: none;
      transition: 0.25s ease-out;
      i {
        padding-right: 0.5rem;
        font-size: 1.8rem;
      }
    }
  }
}
