#banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .title {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2.4rem;
  }
  .subtitle {
    // font-family: 'Microsoft YaHei';
    font-weight: lighter;
  }
  .introduction {
    margin-top: 2rem;
    max-width: 35vw;
  }
  nav.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    a {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: 0.25s ease-out;
    }
    .nav-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        position: relative;
        display: inline-block;
        align-self: flex-start;
        text-transform: uppercase;
        margin: 0 0.5rem;
        i {
          padding-right: 0.5rem;
          font-size: 1.5rem;
        }
        &::after {
          position: absolute;
          content: '';
          right: 0;
          bottom: 2px;
          width: 0;
          height: 2px;
          background-color: rgba(0, 0, 0, 0.382);
          transition: 0.25s ease-out;
        }
        &.active,
        &:hover {
          &::before,
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .nav-links {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: .5rem 0;
      li {
        margin: 0 0.8rem;

        i {
          font-size: 2rem;
        }
      }
    }
  }
  .scroll-down {
    position: absolute;
    bottom: 1rem;
    font-size: 3rem;
    animation: scroll-down-effect 3s ease-in-out infinite;
    cursor: pointer;
    user-select: none;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
  }
}
@keyframes scroll-down-effect {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-1rem);
    opacity: 0.384;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
