.content {
  display: flex;
}
.article {
  display: flex;
  margin: 1rem;
  .markdown {
    flex: 1;
    width: 0;
    padding: 1rem 1rem;
    box-shadow: 0 0 .5rem rgba($color: #000000, $alpha: .12);
    .markdown-preview {
      // overflow: hidden;
    }
  }
  .aside {
    position: sticky;
    top: calc(var(--nav-height) + 1rem);
    width: 0;
    flex: 0 0 200px;
    align-self: flex-start;
    padding: 0.5rem;
    margin-right: 1rem;
  }
}

.comment {
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-card);
  .comment-header {
    color: var(--color-text);
    font-size: 1.2rem;
  }
  ::v-deep {
    .vssue .vssue-pagination .vssue-pagination-select {
      padding-right: 2rem;
    }
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 0;
  text-shadow: var(--shadow);
  @media screen and (max-width: $mobile) {
    height: 33vh;
  }
  /* 遮罩层 */
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-header);
  }
  /* 图片实体 */
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
  }
  .header {
    z-index: 1;
    .title {
      color: var(--color-text);
      font-size: 2.4rem;
      font-family: InfoDisplay;
      line-height: 2.5rem;
    }
    .tags {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .tag {
        display: inline-block;
        text-align: center;
        color: var(--color-text);
        padding: 0.1rem 0.3rem;
        transition: color 0.3s ease;
        cursor: pointer;
        font-size: 0.9rem;
        &:hover {
          color: var(--color-text-primary);
        }
        .tag-icon {
        }
        .tag-text {
          font-family: InfoDisplay;
          padding-left: 0.2rem;
        }
      }
    }
  }
}
@media screen and(max-width: $mobile) {
  .article {
    margin: 0;
  }
  .comment {
    margin: 0 0 2rem 0;
    border-top: 2px dashed #f4d8e4;
  }
}
