.markdown-preview {
  padding: 1.5rem;
  .markdown-image-preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.3);
  }
  /** Mobile兼容 */
  @include screen-mobile {
    padding: .5rem;
  }
}
.markdown-title {
  font-family: var(--font-serif);
  font-size: 2rem;
  text-align: center;
  color: var(--color-text-primary);
  // text-decoration: ;
  // text-decoration: line-through double var(--color-text-primary);
  border-top: 4px double var(--color-text-primary);
  border-bottom: 4px double var(--color-text-primary);
}
/**
 * 固有Markdown样式
 */
.markdown-content {
  padding: 2rem 0;
  pre {
    display: block;
    position: relative;
    line-height: 0;
    code {
      display: inline-block;
      line-height: 1;
    }
    .code-options {
      position: absolute;
      right: 0;
      top: -2rem;
      height: 2rem;
      line-height: 2rem;
      user-select: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.12);
      opacity: 0;
      transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-radius: 0.25rem;
      i {
        font-size: 1.25rem;
        // color: rgba(0, 128, 128, 0.67);
        color: var(--title-color);
        cursor: pointer;
        padding: 0 0.5rem;
        &:focus,
        &:active {
          color: rgba(0, 96, 96, 1);
        }
      }
    }
    &:hover .code-options {
      opacity: 1;
    }
  }
  img {
    position: relative;
    max-width: 100%;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
@media screen and(max-width: $mobile) {
  .markdown-content {
    font-size: 1.125rem;
    padding: 0.5rem;
  }
}
.zoom-enter-active {
  transition: 0.3s ease-out;
}
.zoom-leave-active {
  transition: 0.2s ease-in;
}
.zoom-enter,
.zoom-leave-to {
  opacity: 0;
}
