#the-nav {
  width: inherit;
}
.nav-wrap {
  position: relative;
  width: inherit;
}

#nav {
  width: inherit;
  position: fixed;
  display: flex;
  top: 0;
  height: var(--nav-height);
  padding: 0 2rem;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
  user-select: none;
  background: var(--color-nav);
  backdrop-filter: blur(16px) saturate(2);
  z-index: 9;
  transform: translateY(0);
  text-transform: uppercase;
  i {
    font-size: 1.8rem;
  }

  &.hide {
    transform: translateY(calc(-1 * var(--nav-height)));
  }
  &.transparent {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    color: white;
  }

  &.nav-bg {
    color: var(--color-text);
    background-color: var(--color-light);
    box-shadow: var(--shadow);

    .nav-title {
      opacity: 1;
    }
  }
}

.nav-bars {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.25s ease-out;
  cursor: pointer;
  user-select: none;

  svg {
    transition: 0.3s ease;
  }
  &:hover {
    filter: brightness(0.8);
  }
}

.nav-drawer {
  .drawer-main {
    position: fixed;
    top: 0;
    right: -61.8%;
    width: 61.8%;
    height: 100%;
    transition: right 0.3s ease;
    background-color: var(--color-card);
    backdrop-filter: blur(16px) saturate(400%);
    z-index: 1000;
  }

  .drawer-banner {
    position: relative;
    .drawer-banner-bg {
      width: 100%;
      object-fit: cover;
    }
  }

  .drawer-menu {
    color: var(--color-text);

    li {
      display: flex;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.618rem;
      align-items: center;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;

      &:hover {
        // background-color: var(--color-primary);
        background-color: rgba(255, 255, 255, 0.618);
      }

      i {
        padding: 0 0.67rem;
        font-size: 1.618rem;
      }
    }
  }
  .drawer-blank {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    transition: 0.3s ease;
  }

  &.open {
    .drawer-main {
      right: 0%;
      box-shadow: var(--shadow);
    }
    .drawer-blank {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
    }
  }
}

.nav-title {
  font-size: 1.2rem;
  font-family: var(--font-serif);
  font-weight: 500;
  padding-right: 2rem;
  cursor: pointer;
  align-self: center;
  opacity: 0;
  // color: white;
  // text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    // line-height: 3rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // border-radius: 0.33rem 0.33rem 0 0;
    padding: 0.25rem 1rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: var(--color-secondary);
      &::after {
        width: 100%;
        left: 0;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      border-bottom: var(--color-secondary) solid 2px;
      transition: width 0.2s ease-in-out;
    }
    .menu-title {
      margin-top: 3px;
      margin-left: 0.5rem;
    }
  }
  &.menu-dark li {
    &:hover {
    }
    &::after {
      border-bottom: var(--color-dark) solid 2px;
    }
  }
}

.nav-spacer {
  flex-grow: 1;
}
