@use "sass:math";
// 移动端断点
$mobile: 768px;

:root {
  --redius: 5px;
  --nav-height: 4rem;
  // --font-monospace: 0;
  --font-monospace: 'IBM Plex Mono', 'Menlo', 'monospace';
  --font-serif: 'Patrick Hand', Georgia, Times, STSong, SimSun, FangSong, KaiTi, STKaiti;
  // --font-sans-serif: rubik, helvetica, arial, sans-serif;
  --font-sans-serif: 'Pally', 'Comic Sans MS', 'sans-serif';
}